@import "globals";

.peg {
	--calc1-size: var(--size);
	--calc2-size: var(--calc1-size);
	@include circle(var(--calc2-size));
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	background: grey;
	border-radius: 1rem;
	transform: translateY(1rem);
	display: flex;

	.peg {
		margin: 5px;
		--calc1-size: calc(var(--size) / 2);
	}
}

@media only screen and (max-width: 700px) {
	.peg {
		--calc2-size: calc(var(--calc1-size) * 0.7) !important;
	}
}
